:root{
    --main-color: linear-gradient(90deg,#426980,#bad6ff);
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    font-family: 'Roboto', sans-serif;
}

body{
    background: #ececee;
    -webkit-font-smoothing: antialiased;
}

a{
    text-decoration: none;
    color: black;
}

.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: var(--main-color);
    height: 112px;
}

.header h4{
    margin: 22px 17px;
    font-size: 57px;
    color: white;
    font-weight: 400;
}


.header img{
    margin: 15px 30px;
    height: 80px;
    width: 80px;
}

.header a:hover{
    transition: 0.25s;
    opacity: 0.5;
}

.root-box{
    display: flex;
    flex-direction: column;
    align-items: center;
    border: solid thin #d9d9d9;
    width: 77%;
    font-size: 28px;
    margin: 2% 0 0 11.5%;
    background-color: rgb(250, 250, 250);
    border-radius: .25em;
}

.root-box p{
    margin: 20px 0;
}

.login{
    text-align: center;
    margin: 15px 0;
    font-size: 20px;
}

.login ion-icon{
    margin-right: 6px;
    font-size: 40px;
    color: #3399ff;
}

.signup{
    text-align: center;
    margin: 15px 0;
    font-size: 20px;
}

.signup ion-icon{
    margin-left: 10px;
    font-size: 40px;
    color: #3399ff;
}

.signup:hover,
.login:hover{
    transition: opacity 0.25s;
    opacity: 0.60;
}

.rodape{
    width: 90%;
    display: flex;
    font-size: 20px;
    height: 40px;
    margin-top: 3%;
    background: var(--main-color);
    justify-content: center;
    align-items: center;
    margin-left: 5%;
    border: 0;
    border-radius: .25rem;
}

.rodape p{
    color: rgb(87, 87, 87);
    margin-right: 5px;
}

.rodape a{
    color: white;
    margin: 4px 3px 0;
}

.rodape a:hover{
    transition: 0.25s;
    opacity: 0.5;
}